@import "dark-theme-variables.scss";

.#{$pf-namespace} {
  @import "~@/styles/theme/elementUISource/index.scss";
  @import "../element-fix";
  @import "../theme-common";
  @import "../theme-project";

  body {
    background: rgb(43, 43, 43);
    color: #FFFFFF;
  }

  .el-range-input {
    background: unset;
  }

  .theme-block-border {
    border: solid 1px #E5E5E5;
  }

  .theme-navbar-bg {
    background-color: $middle-gray;
  }
}
