.anchor-wrapper {
  position: fixed;
  right: 0px;
  width: 15%;
  height: auto;
  top: 55% !important;
  transform: translate(0, -60%);
}

div[data-section] {
  position: relative;
  font-size: 14px;
  font-weight: bold;

  color: #000;
  padding: 14px 0;
  margin-left: 34px;

  &::before {
    content: attr(data-section);
  }
}

div[data-ismain] {
  font-size: 16px;
  font-weight: bold;
  margin-left: 28px;

  &::after {
    content: '';
    position: absolute;

    top: 14px;
    width: 4px;
    height: 16px;

    border-radius: 2px;
  }
}
