$lightPrimary: #2B96F0;
$whiteColor: #fff;
$fontColor: #696969;
$placeholder-font-color: #C0C4CC;
$borderColor: #ccc;
$backgroundColor: rgb(240, 240, 240);
$lightPrimaryColor: rgb(49, 158, 214);
$lowPrimaryColor: rgb(54, 67, 83);
$middlePrimaryColor: #0D88B4FF;
$middleBlueColor: rgba(49, 158, 214, .5);
$middleGreenColor: rgb(103, 194, 58);
$middleGrayColor: rgb(144, 147, 153);
